<h1>All the Lists:</h1>
<%= link_to 'Add a list', new_list_path %>

<div class="lists">

    <% @lists.each do |list| %>
      <div class="list">
        <h2><%= link_to list.name, list_path(list) %></h2>
      </div>
    <% end %>

</div>
