<div class="banner">
  <h1>Save any kind of movie</h1>
</div>

<div class="navbar" id="nbcontent">
  <h5>all the lists:</h5>
</div>

<div class="content">
  <div class="bookmark-grid">
    <% @lists.each do |list| %>
      <div class="list-card">
        <h2><%= link_to list.name, list_path(list) %></h2>
      </div>
    <% end %>
  </div>
</div>
