<div class="navbar" id="nbcontent">
  <h5>New Bookmark</h5>
</div>

<div class="content">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
